<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <%- include('_header'); %> -->
    
    <body>
        <h1> Codeial <%= title %></h1>
    </body>
    <section id="feed-post">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here ..."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id = "post-list-container">
            <ul>
                <% for(post of posts){ %>
                    <p>
                        <% if (locals.user && locals.user.id == post.user.id) { %> 
                        <small>
                            <a href="/post/destroy/<%= post.id %>">X</a>
                        </small>
                        <% } %>
                        <li>
                            <%= post.content %>
                            <br>
                            <%= post.user.name %>
                        </li>
                    </p>

                    <div class="post-comments">
                        <% if (locals.user){ %>
                            <form action="/comment/create" method="post">
                                <input type="text" name="content" placeholder="type here comment..." required>
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add comment">
                            </form>
                        <% } %>

                        <div class="post-comment-list">
                            <ul id="post-comment-<%= post._id %>">
                                <% for(comment of post.comments){ %>
                                    <p>
                                        <% if (locals.user && locals.user.id == comment.user.id) { %> 
                                            <small>
                                                <a href="/comment/destroy/<%= comment.id %>">X</a>
                                            </small>
                                        <% } %>

                                        <%= comment.content %>
                                    </p>
                                    <br>
                                    <small>
                                        <%= comment.user.name %>
                                    </small>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                <% } %>
            </ul>
        </div>

    </section>
    <!-- <%- include('_footer'); %>

</html> -->