<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <%- include('_header'); %> -->
<link rel="stylesheet" href="/css/home.css">
    <!-- <body>
        <h1> Codeial <%= title %></h1>
    </body> -->
<div id="home-container">    
    <section id="feed-post">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here ..."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id = "post-list-container">
            <ul>
                <% for(post of posts){ %>
                   <%- include('_post') -%> 
                <% } %>
            </ul>
        </div>

    </section>
    <!-- Add section for display all user's on home -->
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
</div>
    <!-- <%- include('_footer'); %>

</html> -->