<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <%- include('_header'); %> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <body>
        <h1> codeial / <%= title %></h1>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Post: <%= user.Post %></p>
    </body>

    <!-- <%- include('_footer'); %>

</html> -->