<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <%- include('_header'); %> -->
    <link rel="stylesheet" href="/css/user_profile.css">
    <body>
        <h1> codeial / <%= title %></h1>
        <p>Name: <%= profile_user.name %></p>
        <p>Email: <%= profile_user.email %></p>
    </body>

    <%  %>
    <!-- <%- include('_footer'); %>

</html> -->